@mixin mobile{
    @media screen and (max-width:480px) { 
        @content;
    }
}

@mixin tablet{
    @media screen and (max-width:768px) { 
        @content;
    }
}

@mixin laptop{
    @media screen and (max-width:1200px) { 
        @content;
    }
}




.formContainer{
    background:  #2aa843;
    // background-color: rgb(219, 219, 192);
    height: 98vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 20px;

    .formWrapper{
        background:white;
        padding: 40px 40px ;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center; 

        .logo{
            color: #000000;
            font-size: 24px;
            font-weight: bold;
        }

        .title{
            margin-bottom: 10px;
        }

        form{
            display: flex;
            flex-direction: column;
            gap: 15px;

            input{
                padding: 10px;
                border: none;
                width: 30vw;
                border-bottom: 2px solid #45c960;
                outline: none;

                &::placeholder{
                    color: (175,175,174)
                }
            }

            button{
                background-color: #45c960;
                color: white;
                padding: 10px;
                font-weight: bold;
                cursor: pointer;
                border: none;
                align-items: center;
                position:relative; 
                &:hover{
                    background-color: #234228;
                }
            }
            label{
                display: flex;
                align-items: center;
                gap: 10px;
                color: #8594c7;
                font-size: 15px;
                cursor: pointer;
            }

        }
    }
}

.home{
    height: 98vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;

    .container{
        border: 2px solid white;
        border-radius: 10px;
        width: 90%;
        height: 95%;
        display: flex;
        overflow: hidden;
        @include tablet{
            width: 90%;
        }

        .sidebar{
            flex: 1;
            border-right:2px solid white;
            background-color: #234228;
            border-radius: 10px;
            overflow:auto;
           
            .navbar{
                display: flex;
                align-items: center;
                background-color: #43754b;     
                height: 50px;   
                padding: 10px;   
                justify-content: space-between;
                border-radius: 10px;
                color: white;
                .logo{
                    font-weight: bold;
                    font-size: 1.2rem;

                    @include tablet{
                        display: none;
                    }
                }
                .user{
                    gap: 10px;
                    display: flex;
                    img{
                        background-color: #fff;
                        height: 24px;
                        width: 24px;
                        border-radius: 50%;
                        object-fit: cover;
                        cursor: pointer;
                    }
                    span{
                        font-size: 20px;
                        &:hover{
                            color: #000000;
                        }
                    }
                    button{
                        background-color: #99c97db2;
                        border: none;
                        color:white;
                        cursor: pointer;
                        font-size: 10px;
                        &:hover{
                            background-color: #2aa843;
                        }
                    }
                }
            }
            .search{
                border-bottom: 2px solid white;
                .searchForm{
                    padding: 10px;
                    input{
                        background-color: transparent;
                        border: none;
                        color: white;
                        outline: none;
                        font-size: 15px;

                        &::placeholder{
                            color: white;
                        }
                    }
                }
            }
            .userChat{
               
                padding: 10px;
                display: flex;
                align-items: center;
                gap: 10px;
                color: white;
                cursor: pointer;
                font-size: 20px;

                &:hover{
                    background-color: gray;
                }
                img{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                .userChatInfo{                  
                    span{
                    font-size: 18px;
                    font-weight: bold;
                   } 
                   p{
                    font-size: 15px;
                   }
                }
            }
        }
        .chat{
            flex: 2;
            border: 2px solid black;
            border-radius: 10px;
            background-color: #234929;

            .chatInfo{
                align-items: center;
                justify-content: space-between;
                display: flex;
                background-color: #43754b;     
                height: 50px;   
                padding: 10px;   
                justify-content: space-between;
                color: white;

                span{
                    padding: 10px;
                    font-size: 20px;
                }
            }

            .chatIcons{
                display: flex;
                gap: 10px;

                img{
                    height: 30px;
                    cursor: pointer;
                }
            }

            .messages{
                background-color: rgb(97, 212, 122);
                padding: 10px;
                height: calc(100% - 160px);
                border-radius: 10px;
                margin: 10px;
                overflow:auto;

                .message{
                    display: flex;
                    gap: 20px;
                    margin-bottom: 10px;
                    .messageInfo{
                        display: flex;
                        flex-direction: column;
                        color: rgb(255, 255, 255);
                        font-size: 10px;
                       // margin: 20px;
                        font-weight: lighter;  
                      
                        img{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }
                    .messageContent{
                        max-width: 80%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        gap: 10px;

                        p{
                            background-color: white;
                            padding: 10px 20px;
                            border-radius: 0px 10px 10px 10px;
                            max-width: max-width;
                        }
                        img{
                            width: 50%;
                        }
                    }
                    &.owner{
                        flex-direction: row-reverse;

                        .messageContent{
                            align-items: flex-end;

                            p{
                                background-color: #d1e7d4;
                                color: #000000;
                                border-radius: 10px 0px 10px 10px;
                            }
                        }

                       
                    }
                }
            }
            
            .input{
                height: 25px;
                background-color: rgb(255, 255, 255);
                padding: 10px;
                border-radius: 10px;
                margin: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                input{
                    width: 87%;
                    border: none;
                    outline: none;
                    color: #000000;
                    font-size: 15px;
                    
                    &::placeholder{
                        color: lightgray;
                    }
                }
                .send{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 20px;

                    img{
                        cursor: pointer;
                        height: 24px;
                    }
                    button{
                        border: none;
                        outline: none;
                        color: white;
                        padding: 10px;
                        background-color: #43754b;
                        border-radius: 10px;
                    }
                }
            }
        }
    }

}
